extends layout

block content
  div(style="text-align: center ;")
    img(src="/images/chiccocoin.png")
    p Welcome to #{title}
    img(src="https://media.giphy.com/media/129NVCr1UfsGTS/giphy.gif")
